# Elastic Beanstalk Files
.ebextensions
.elasticbeanstalk
.ebignore

.dockerignore
Dockerfile
*.Dockerfile
docker-compose.yml

Vagrantfile
.vagrant/

.gitignore
.git/


*.py[cod]

venv/

build/
node_modules/
test/

.settings
.project
*.log
.DS_Store

gulpfile.coffee
README.md
.python-version
Dockerrun.aws.json
docs
ghostdriver.log

docker/
.docker/

storage/logs

.vscode/

buildspec.yml

Makefile

*.md
